/*.collection {
	
	width:500px;

}
*/


#twitterQuote{
	font-size: 24px;
}
.answer{
	display: inline-block;
}
.profimg{
	width:100px !important;
	height:100px !important;
}
.brand-logo{
	font-style: italic;
	font-weight: 200;
	font-size: 100px;
}

.marker {
	width: 16px;
}

.answer {
	cursor: pointer;
}

.answer:hover {
	background: rgb(224, 237, 241);
	outline: lightblue 1px solid;
}