/*.collection {
	
	width:500px;

}
*/

hr {
	height: 2px;
    border: none;
    background: rgba(0,0,0, 0.2);
    width: 60%;
}

.spinner-box{
	text-align: center;
}
.spinner {
	height: 50px;
	width: auto;
	margin: 0 auto;
}
.list-header {
	font-weight: bold;
	color: rgb(15, 70, 88);
	text-align: center;
	background: rgba(0,0,0,.1);
	margin: 1em 0 0 0;
}

.twote-logo {
	height: 35px;
    width: auto;
    vertical-align: text-bottom;
}
.twitter-handle {
	font-weight: bold;
}


.player-collection ol,
.player-collection ul {
	margin-bottom: 2em;
}

#twitterQuote{
	font-size: 24px;
}
.answer{
	display: inline-block;
}
.profimg{
	width:100px !important;
	height:100px !important;
}
.brand-logo{
	font-style: italic;
	font-weight: 200;
	font-size: 100px;
}

.marker {
	width: 24px;
	float: left;
}

.answer {
	cursor: pointer;
	background: #f0f0f0;
}

.answered {
	/* All answers after user made selection */
	cursor: default;
}

.answeredSelection {
	/* Selected answer */
	outline: lightblue 1px solid;
	font-weight: bold;
	color: rgb(31, 87, 105);
	background: rgb(224, 237, 241);
}

.answer:hover {
	background: rgb(224, 237, 241);
	outline: lightblue 1px solid;
}

.answered:hover {
	background: inherit;
	outline: inherit;
}


.answeredSelection:hover {
	/* Selected answer */
	outline: lightblue 1px solid;
	font-weight: bold;
	color: rgb(31, 87, 105);
	background: rgb(224, 237, 241);
}

.guess-in {
	color: darkgreen;
}

.correct-answer {
	color: darkgreen;
}

.incorrect-answer {
	color: darkred;
}
.twitter-correct,
.twitter-correct:hover {
	background: #d7ffd7;
    outline: green solid 1px;
}
.twitter-incorrect,
.twitter-incorrect:hover {
	background: #ffd7d7;
    outline: rgb(128, 0, 0) solid 1px;
}
.kicked {
	color:red;
	text-decoration: red line-through;
}

